*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


#Builtapplicationfiles
*.apk
*.ap_
#FilesfortheART/DalvikVM
*.dex
#Javaclassfiles
*.class
#Generatedfiles
bin/
gen/
out/
#Gradlefiles
.gradle/
.idea/
build/
#Localconfigurationfile(sdkpath,etc)
local.properties
#ProguardfoldergeneratedbyEclipse
proguard/
#LogFiles
*.log
#AndroidStudioNavigationeditortempfiles
.navigation/
#AndroidStudiocapturesfolder
captures/
#Intellij
.idea/workspace.xml
.idea/libraries
#Keystorefiles
*.jks
keystore.properties